<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启自动驼峰命名规则 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 允许JDBC支持自动生成主键,需要驱动兼容 -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>
    <!-- 设置整个包下类的别名,配置多个 -->
    <typeAliases>
        <package name="com.bin.liu.springboot.demo.entity"/>
    </typeAliases>
</configuration>
